<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="warning">Coefficients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #coeff="ngForm">
      <ion-card-header>
        <ion-card-title>{{ points }} Points</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label position="fixed">Gender</ion-label>
        <ion-select value="m" interface="popover">
          <ion-select-option value="m">Male</ion-select-option>
          <ion-select-option value="f">Female</ion-select-option>
        </ion-select>
        <ion-label position="fixed">Point system</ion-label>
        <ion-select
          interface="popover"
          [(ngModel)]="points"
          [ngModelOptions]="{standalone: true}"
        >
          <ion-select-option value="IPF GL">IPF GL</ion-select-option>
          <ion-select-option value="IPF">IPF</ion-select-option>
          <ion-select-option value="Dots">DOTS</ion-select-option>
          <ion-select-option value="Wilks">Wilks</ion-select-option>
          <ion-select-option value="Blues">Blues</ion-select-option>
        </ion-select>
        <ion-radio-group
          [(ngModel)]="totalSelected"
          [ngModelOptions]="{standalone: true}"
        >
          <ion-item>
            <ion-label>Total</ion-label>
            <ion-radio slot="start" [value]="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>SBD</ion-label>
            <ion-radio slot="start" [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <br>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">bodyweight</ion-label>
            <ion-input
              type="number"
              ngModel
              name="bw"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="totalSelected">
            <ion-label position="fixed">total</ion-label>
            <ion-input
              type="number"
              ngModel
              name="total"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!totalSelected">
            <ion-label position="fixed">squat</ion-label>
            <ion-input
              type="number"
              ngModel
              name="sq"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!totalSelected">
            <ion-label position="fixed">bench</ion-label>
            <ion-input
              type="number"
              ngModel
              name="bp"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!totalSelected">
            <ion-label position="fixed">deadlift</ion-label>
            <ion-input
              type="number"
              ngModel
              name="dl"
            ></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-row id="result">
          <ion-text class="ion-padding-end" color="success">{{ 'yes' }}</ion-text> {{ points }} points
        </ion-row>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
