<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="warning">Coefficients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <form #coeff="ngForm">
            <ion-card-header>
              <ion-card-title>{{ pointsSelected }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label position="fixed">Gender</ion-label>
              <ion-select
                [(ngModel)]="userMale"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onChangeGender()"
                interface="popover"
              >
                <ion-select-option [value]="true">Male</ion-select-option>
                <ion-select-option [value]="false">Female</ion-select-option>
              </ion-select>
              <ion-label position="fixed">Point system</ion-label>
              <ion-select
                [(ngModel)]="pointsSelected"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onCalcPoints(coeff)"
                interface="popover"
              >
                <ion-select-option value="IPF GL">IPF GL</ion-select-option>
                <ion-select-option value="IPF">IPF</ion-select-option>
                <ion-select-option value="Dots">DOTS</ion-select-option>
                <ion-select-option value="Wilks">Wilks</ion-select-option>
                <ion-select-option value="Blues">Blues</ion-select-option>
              </ion-select>
              <ion-radio-group
                [(ngModel)]="totalSelected"
                [ngModelOptions]="{standalone: true}"
              >
                <ion-item>
                  <ion-label>Total</ion-label>
                  <ion-radio slot="start" [value]="true"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>SBD</ion-label>
                  <ion-radio slot="start" [value]="false"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <br/>
              <ion-list>
                <ion-item>
                  <ion-label position="fixed">bodyweight</ion-label>
                  <ion-input
                    type="number"
                    [ngModel]="userBw"
                    name="weight"
                    (ngModelChange)="onCalcPoints(coeff)"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="totalSelected">
                  <ion-label position="fixed">total</ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="userTotal"
                    name="total"
                    (ngModelChange)="onCalcPoints(coeff)"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="!totalSelected">
                  <ion-label position="fixed">squat</ion-label>
                  <ion-input
                    type="number"
                    [ngModel]="userSq"
                    name="sq"
                    (ngModelChange)="onCalcPoints(coeff)"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="!totalSelected">
                  <ion-label position="fixed">bench</ion-label>
                  <ion-input
                    type="number"
                    [ngModel]="userBp"
                    name="bp"
                    (ngModelChange)="onCalcPoints(coeff)"
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf="!totalSelected">
                  <ion-label position="fixed">deadlift</ion-label>
                  <ion-input
                    type="number"
                    name="dl"
                    [ngModel]="userDl"
                    (ngModelChange)="onCalcPoints(coeff)"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <br/>
              <ion-row id="result" *ngIf="!bluesSelected">
                <ion-text class="ion-padding-end" color="success">
                  {{ userPoints | number : '1.2-2'}}
                </ion-text> {{ pointsSelected }} points
              </ion-row>
              <ion-row id="result" *ngIf="bluesSelected">
                <ion-text class="ion-padding-end" id="blues">
                  {{ userPoints }}
                </ion-text> achieved
              </ion-row>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
