#result {
  font-size: large;
}

.ouplc-theme {
  p {
    color: white;
  }

  ion-card, ion-item {
    --ion-text-color: white;
    --background: var(--oxford-blue);
  }

  ion-row {
    color: white;
  }

  ion-card {
    border: 2px solid white;
  }

  #blues {
    color: var(--oxford-blue-contrast)
  }
}
