<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="dark">Help</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
		<ion-item *ngFor="let page of pages">
      <ion-label class="ion-text-wrap">
				<h2><ion-icon [name]="page.icon"></ion-icon>{{ page.title }}</h2>
				<p>
          <details>
            <summary>{{ page.overview }}</summary>
          <div class="detail-expanded">{{ page.help }}</div>
        </details>
      </p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
