<ion-list lines="none">
  <p class="ion-margin ion-text-justify">
    Duncan Law is currently a third-year undergraduate student studying Engineering Science
    in the University of Oxford. He also competes in
    <a href="https://www.britishpowerlifting.org/">British Powerlifting</a>
    (under the
    <a href="https://www.powerlifting.sport/">International Powerlifting Federation</a>
    ) as a Junior lifter in the 83kg weight category.
  </p>
  <ion-item>
    <ion-button fill="none" size="clear" href="https://www.openpowerlifting.org/u/duncanlaw">
      <ion-icon class="ion-padding-end" name="list"></ion-icon>
      Open Powerlifting
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="none" size="clear" href="https://www.instagram.com/lawkout/">
      <ion-icon class="ion-padding-end" name="logo-instagram"></ion-icon>
      @lawkout
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="none" size="clear" href="https://github.com/DuncanTLaw">
      <ion-icon class="ion-padding-end" name="logo-github"></ion-icon>
      GitHub
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="none" size="clear" href="www.linkedin.com/in/duncan-law-1ba6501b2">
      <ion-icon class="ion-padding-end" name="logo-linkedin"></ion-icon>
      LinkedIn
    </ion-button>
  </ion-item>
</ion-list>
