<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-segment
        [ngModel]="weightUnitService.userUnit | async"
        (ionChange)="weightUnitService.setUnit($event)"
        id="unitSegment"
      >
        <ion-segment-button value="kg">
          <ion-label>kilogram</ion-label>
        </ion-segment-button>
        <ion-segment-button value="lb">
          <ion-label>pound</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/help']" (click)="onClickButton()">
          <ion-icon name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <details class="ion-margin-bottom">
      <summary><ion-note>About the developer</ion-note></summary>
      <ion-list lines="none">
        <p class="ion-text-justify">
          Duncan Law is currently a third-year undergraduate studying Engineering Science
          in the University of Oxford. He competes in
          <a href="https://www.britishpowerlifting.org/">British Powerlifting</a>
          (under the
          <a href="https://www.powerlifting.sport/">IPF</a>)
          as a Junior lifter in the 83kg weight class.
        </p>
        <ion-item>
          <ion-button fill="none" size="clear" href="https://www.openpowerlifting.org/u/duncanlaw">
            <ion-icon class="ion-margin-end" name="list"></ion-icon>
            Open Powerlifting
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="none" size="clear" href="https://www.instagram.com/lawkout/">
            <ion-icon class="ion-margin-end" name="logo-instagram"></ion-icon>
            @lawkout
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="none" size="clear" href="https://github.com/DuncanTLaw">
            <ion-icon class="ion-margin-end" name="logo-github"></ion-icon>
            GitHub
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="none" size="clear" href="https://www.linkedin.com/in/duncan-law-1ba6501b2">
            <ion-icon class="ion-margin-end" name="logo-linkedin"></ion-icon>
            LinkedIn
          </ion-button>
        </ion-item>
      </ion-list>
    </details>
  </ion-content>
  <ion-footer class="ion-padding">
    <app-utilities></app-utilities>
    <ion-note>
      Have an issue, or want to suggest a feature? Send us an email
      <a href="mailto:lawdtk@gmail.com">here</a>
    </ion-note>
  </ion-footer>
</ion-menu>
