<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-button size="small" (click)="presentModal()">
        Settings
      </ion-button>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/help']" (click)="onClickButton()">
          <ion-icon name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <picture>
      <source
        id="screenshot"
        [srcset]="teamService.teams[teamService.userTeam]?.dark"
        media="(prefers-color-scheme: dark)"
      >
      <img [src]="teamService.teams[teamService.userTeam]?.light">
    </picture>
  </ion-content>
  <ion-footer class="ion-padding">
    <app-utilities></app-utilities>
  </ion-footer>
</ion-menu>
