<ion-card class="ion-no-margin ion-no-padding">
  <ion-card-header>
    <ion-card-title>Total</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
        <ion-item>
          <ion-label position="fixed">squat</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="squatNum"
            (ngModelChange)="calcTotal()"
          ></ion-input>
          <ion-note slot="end">{{ weightUnitService.userUnit | async }}</ion-note>
        </ion-item>
        <ion-item>
        <ion-label position="fixed">bench</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="benchNum"
          (ngModelChange)="calcTotal()"
        ></ion-input>
        <ion-note slot="end">{{ weightUnitService.userUnit | async }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">deadlift</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="deadliftNum"
          (ngModelChange)="calcTotal()"
        ></ion-input>
        <ion-note slot="end">{{ weightUnitService.userUnit | async }}</ion-note>
      </ion-item>
    </ion-list>
    <ion-row class="ion-align-items-center ion-margin-top">
      <ion-col size="auto">
        <ion-button size="small" (click)="writeToClipboard(totalNum)" [disabled]="!totalNum">
          Copy
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        = {{ totalNum || 0 }}{{ weightUnitService.userUnit | async }} total
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card class="ion-no-margin ion-no-padding ion-margin-top">
  <ion-card-header>
    <ion-card-title>Percentage</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input
          type="number"
          [(ngModel)]="numInput"
          (ngModelChange)="calcPct()"
          placeholder="input number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-note class="ion-margin-end">x</ion-note>
        <ion-input
          type="number"
          [(ngModel)]="pctInput"
          (ngModelChange)="calcPct()"
          placeholder="input percentage"
        ></ion-input>
        <ion-note slot="end">%</ion-note>
      </ion-item>
    </ion-list>
    <ion-row class="ion-align-items-center ion-margin-top">
      <ion-col size="auto">
        <ion-button size="small" (click)="writeToClipboard(pctRes)" [disabled]="!pctRes">
          Copy
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        = {{ pctRes || 0 }}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card class="ion-no-margin ion-no-padding ion-margin-top">
  <ion-card-header>
    <ion-card-title>Converter</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input
          type="number"
          [(ngModel)]="conversionNum"
          (ngModelChange)="convertNumber()"
          placeholder="input weight in"
        ></ion-input>
        <ion-note slot="end">{{ conversionUnit }}</ion-note>
      </ion-item>
    </ion-list>
    <ion-row class="ion-align-items-center">
      <ion-col id="swapButtonCol" size="auto">
        <ion-buttons>
          <ion-button (click)="onSwitchConversion()">
            <ion-icon name="swap-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-text-end">
        <div [hidden]="convertedNum">
          convert to {{ convertedUnit === 'lb' ? 'pounds' : 'kilograms' }}
        </div>
        <div [hidden]="!convertedNum">
          converts to {{ convertedNum| number : '1.2-2' }}{{ convertedUnit }}
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

