<ion-card class="ion-no-margin ion-no-padding">
  <ion-card-header>
    <ion-card-title>Total</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list [inset]="true">
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-input
            type="number"
            [(ngModel)]="squatNum"
            (ngModelChange)="calcTotal()"
            placeholder="SQ"
          ></ion-input>
        </ion-col>
        <ion-col class="ion-no-padding" size="1.5">
          +
        </ion-col>
        <ion-col size="3">
          <ion-input
            type="number"
            [(ngModel)]="benchNum"
            (ngModelChange)="calcTotal()"
            placeholder="BP"
          ></ion-input>
        </ion-col>
        <ion-col class="ion-no-padding" size="1.5">
          +
        </ion-col>
        <ion-col size="3">
          <ion-input
            type="number"
            [(ngModel)]="deadliftNum"
            (ngModelChange)="calcTotal()"
            placeholder="DL"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-button size="small" (click)="writeToClipboard(totalNum)" [disabled]="!totalNum">
          Copy
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        = {{ totalNum || 0 }}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card class="ion-no-margin ion-no-padding ion-margin-top">
  <ion-card-header>
    <ion-card-title>Percentage</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list [inset]="true">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-input
            type="number"
            [(ngModel)]="numInput"
            (ngModelChange)="calcPct()"
            placeholder="num"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          x
        </ion-col>
        <ion-col>
          <ion-input
            type="number"
            [(ngModel)]="pctInput"
            (ngModelChange)="calcPct()"
            placeholder="pct"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          %
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-button size="small" (click)="writeToClipboard(pctRes)" [disabled]="!pctRes">
          Copy
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        = {{ pctRes || 0 }}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card class="ion-no-margin ion-no-padding ion-margin-top">
  <ion-card-header>
    <ion-card-title>Converter</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list [inset]="true">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-input
            type="number"
            [(ngModel)]="conversionNum"
            (ngModelChange)="convertNumber()"
            placeholder="input weight in"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          {{ conversionUnit }}
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-no-padding" id="swapButtonCol" size="auto">
        <ion-buttons>
          <ion-button (click)="onSwitchConversion()">
            <ion-icon name="swap-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-no-padding ion-text-end">
        <div [hidden]="convertedNum">
          convert to {{ convertedUnit === 'lb' ? 'pounds' : 'kilograms' }}
        </div>
        <div [hidden]="!convertedNum">
          converts to {{ convertedNum| number : '1.2-2' }}{{ convertedUnit }}
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

