<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bar Loaded</ion-card-title>
          <ion-card-subtitle>Plates on one side (collars automatically added)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item
              *ngFor="let plate of kgPlates"
            >
              <ion-row style="align-items: center;">
                <ion-col>
                  <ion-badge
                    [color]="loaderService.getBadgeColor(plate)"
                  >
                    {{ plate }}kg
                  </ion-badge>
                </ion-col>
                <ion-col>
                  <ion-input
                    type="number"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
