<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bar Loaded: {{ barLoaded }}kg</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Input # of plates on one side</ion-card-subtitle>
          <ion-card-subtitle>(collars automatically added)</ion-card-subtitle>
          <ion-list>
            <ion-item
              *ngFor="let plate of plateCount; trackBy:loaderService.trackItems"
            >
              <ion-col size="6">
                <ion-badge
                  [color]="loaderService.getKGBadgeColor(plate.weight)"
                >
                  {{ plate.weight }}kg
                </ion-badge>
              </ion-col>
              <ion-col size="6">
                <ion-input
                  type="number"
                  [(ngModel)]="plate.count"
                  [name]="plate.weight.toString()"
                  placeholder="0"
                  (ngModelChange)="onCountPlates()"
                ></ion-input>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
