<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-button size="small" (click)="presentModal()">
          <ion-icon id="settings" name="cog-outline"></ion-icon>
          Settings
        </ion-button>
        <ion-buttons slot="end">
          <ion-button (click)="openTutorial()">
            <ion-icon name="help-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-notes></app-notes>
    </ion-content>
    <ion-footer class="ion-padding">
      <app-utilities></app-utilities>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main" [swipeGesture]="false"></ion-router-outlet>
</ion-app>
