<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="tertiary">RPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-card>
          <form #projected="ngForm">
            <ion-card-header>
              <ion-card-title>Projected</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label position="fixed">load</ion-label>
                  <ion-input
                    type="number"
                    ngModel
                    name="haveWeight"
                    (ngModelChange)="onCalcERM(projected); onCalcELOAD(required)"
                  ></ion-input>
                  <ion-note slot="end">kg</ion-note>
                </ion-item>
                <ion-item>
                  <ion-label position="fixed">reps</ion-label>
                  <ion-input
                    type="number"
                    ngModel
                    name="haveReps"
                    (ngModelChange)="onCalcERM(projected); onCalcELOAD(required)"
                    step="1"
                    min="1"
                    max="15"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="fixed">@</ion-label>
                  <ion-input
                    type="number"
                    ngModel
                    name="haveRPE"
                    (ngModelChange)="onCalcERM(projected); onCalcELOAD(required)"
                    min="5"
                    max = "10"
                    step="0.5"
                    placeholder="RPE"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <br/>
              <ion-row id="e1rm">
                  e1RM
                  <ion-text class="ion-padding-start" color="danger">
                    {{ e1rm }}
                  </ion-text>
              </ion-row>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-md="6">
        <ion-card id="requiredCard">
          <form #required="ngForm">
            <ion-card-header>
              <ion-card-title>Required</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label position="fixed">reps</ion-label>
                  <ion-input
                    type="number"
                    ngModel
                    name="wantReps"
                    (ngModelChange)="onCalcELOAD(required);"
                    step="1"
                    min="1"
                    max="15"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="fixed">@</ion-label>
                  <ion-input
                    type="number"
                    ngModel
                    name="wantRPE"
                    (ngModelChange)="onCalcELOAD(required)"
                    min="5"
                    max = "10"
                    step="0.5"
                    placeholder="RPE"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <br/>
              <ion-row id="eLoad">
                eLoad
                <ion-text class="ion-padding-start" color="success">
                  {{ eLoad }}
                </ion-text>
              </ion-row>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
