<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Projected</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          yes
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Required</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          yesyesyesyesyesyesyesyesyesyesyes
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
