<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bar Loader</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-label position="fixed">Total weight:</ion-label>
              <ion-input
                type="number"
                [(ngModel)]="tWeight"
                (ngModelChange)="onCalcBar()"
              ></ion-input>
              <ion-note slot="end">{{ weightUnitService.userUnit | async }}</ion-note>
            </ion-item>
          </ion-list>
          <ion-button
            class="ion-margin-top"
            size="small"
            expand="block"
            (click)="onExpandAdvanced()"
          >
            {{ advText }} advanced options
          </ion-button>
          <hr/>
          <div [hidden]="!showAdvanced">
            <ion-list lines="none">
              <ion-item>
                <ion-label position="fixed">Bar weight:</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="barWeight"
                  (ngModelChange)="onCalcBar()"
                ></ion-input>
                <ion-note slot="end">{{ weightUnitService.userUnit | async }}</ion-note>
              </ion-item>
            </ion-list>
            <div class="ion-text-center">Collar weight</div>
            <ion-segment
              (ionChange)="collarSegmentChanged($event); onCalcBar();"
              [value]="compCollars"
              [disabled]="(weightUnitService.userUnit | async) === 'lb'"
            >
              <ion-segment-button [value]="false">
                <ion-label>0kg</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]="true">
                <ion-label>2.5kg</ion-label>
              </ion-segment-button>
            </ion-segment>
            <br/>
            <ion-button
              size="small"
              expand="block"
              (click)="onExpandPlates()"
            >
              {{ plateText }}
            </ion-button>
            <div [hidden]="!showPlates">
              <ion-list>
                <ion-item *ngFor="let plate of plateCount[weightUnitService.userUnit | async]; trackBy:loaderService.trackItems">
                    <ion-col size="4">
                      <ion-badge
                        [color]="(weightUnitService.userUnit | async) === 'kg' ?
                          loaderService.handleUnits.kg.colours(plate.weight) : loaderService.handleUnits.lb.colours(plate.weight)"
                      >
                        {{ plate.weight }}{{ weightUnitService.userUnit | async }}
                      </ion-badge>
                    </ion-col>
                    <ion-col size="5">
                      <ion-input
                        type="number"
                        [(ngModel)]="plate.pairs"
                        (ngModelChange)="onCalcBar()"
                      ></ion-input>
                    </ion-col>
                    <ion-col size="3">
                      <ion-note>pairs</ion-note>
                    </ion-col>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="tWeight&&barLoaded">
    <ion-col class="ion-no-padding barbell" size="auto">
      <ion-badge
          [color]="loaderService.getKGBadgeColor(barWeight)"
        >
          BAR
        </ion-badge>
    </ion-col>
    <ion-col class="ion-no-padding barbell" size="auto" *ngFor="let plate of barLoaded">
      <ion-badge
          [color]="(weightUnitService.userUnit | async) === 'kg' ?
            loaderService.handleUnits.kg.colours(plate) : loaderService.handleUnits.lb.colours(plate)"
          [style.padding-top]="loaderService.getHeight(plate)"
          [style.padding-bottom]="loaderService.getHeight(plate)"
          id="plate"
        >
          {{ plate }}
        </ion-badge>
    </ion-col>
    <ion-col
      class="ion-no-padding barbell"
      size="auto"
      *ngIf="compCollars && (weightUnitService.userUnit | async) !== 'lb'">
      <ion-badge
        [color]="loaderService.getKGBadgeColor(2.5)"
        id="collar"
      >
        C
      </ion-badge>
    </ion-col>
  </ion-row>
  <ion-note class="ion-justify-content-center" *ngIf="!tWeight">Input weight to load bar.</ion-note>
</ion-grid>

