<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bar Loader</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-label position="fixed">TOT weight:</ion-label>
              <ion-input
                type="number"
                [(ngModel)]="tWeight"
                (ngModelChange)="onCalcBar()"
              ></ion-input>
              <ion-note slot="end">kg</ion-note>
            </ion-item>
          </ion-list>
          <!-- <ion-button
            size="small"
            expand="block"
            (click)="onExpandAdvanced()"
          >
            {{ advText }} advanced options
          </ion-button>
          <hr/> -->
          <div *ngIf="showAdvanced">
            <div style="text-align: center;">Collar weight</div>
            <ion-segment (ionChange)="collarSegmentChanged($event)" value="true">
              <ion-segment-button [value]="false">
                <ion-label>0kg</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]="true">
                <ion-label>2.5kg</ion-label>
              </ion-segment-button>
            </ion-segment>
            <div class="ion-padding-top" style="text-align: center;">Round</div>
            <ion-segment (ionChange)="roundSegmentChanged($event)" value="true">
              <ion-segment-button [value]="true">
                <ion-label>Down</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]="false">
                <ion-label>Up</ion-label>
              </ion-segment-button>
            </ion-segment>
            <br/>
            <ion-button
              size="small"
              expand="block"
              (click)="onExpandPlates()"
            >
              {{ plateText }}
            </ion-button>
            <div *ngIf="showPlates">
              <ion-list>
                <ion-item *ngFor="let plate of plateCount; let i = index;">
                  <ion-row style="align-items: center;">
                    <ion-col>
                      <ion-badge
                        [color]="loaderService.getBadgeColor(plate.weight)"
                      >
                        {{ plate.weight }}kg
                      </ion-badge>
                    </ion-col>
                    <ion-col>
                      <ion-input
                        type="number"
                        [(ngModel)]="plateCount[i].pairs"
                      ></ion-input>
                    </ion-col>
                    <ion-col>
                      <ion-note>pairs</ion-note>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list *ngIf="tWeight&&barLoaded">
      <ion-item>
        Load
        <ion-badge
          class="ion-margin"
          [color]="loaderService.getBadgeColor(barWeight)"
        >
          {{ barWeight }}kg
        </ion-badge>
        barbell with:
      </ion-item>
      <ion-item *ngFor="let plate of barLoaded">
        <ion-badge
          class="ion-margin"
          [color]="loaderService.getBadgeColor(plate)"
        >
          {{ plate }}kg
        </ion-badge>
        pairs
      </ion-item>
      <ion-item *ngIf="compCollars">
        and a pair of
        <ion-badge
          class="ion-margin"
          [color]="loaderService.getBadgeColor(2.5)"
        >
          2.5kg
        </ion-badge>
        competition collars.
      </ion-item>
    </ion-list>
  </ion-row>
  <div class="ion-text-center" *ngIf="!tWeight">Input weight to load bar.</div>
</ion-grid>

