<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="danger">Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  size-md="6">
        <ion-card
          id="timerCard"
          joyrideStep="timer1"
          title="Set a timer"
          text="Select a rest limit to get a notification when the time is up."
        >
          <ion-progress-bar
            color="danger"
            [attr.value]="(timeRemaining !== 0) ? timeRemaining/secondsSelected : 0"
            [attr.buffer]="(!timerRunning && timeRemaining) ? timeRemaining/secondsSelected : 1"
          ></ion-progress-bar>
          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-text
                id="timerText"
                [ngClass]="{blink: !timerRunning}"
              >
                {{ timeRemaining }}<span *ngIf="timeRemaining">s</span>
              </ion-text>
            </ion-row>
            <ion-row
              class="ion-justify-content-evenly"
              id="timerButtonRow"
            >
              <ion-button
                color="light"
                (click)="onClickLHS()"
                [disabled]="!secondsSelected"
              >
                {{ lhsButtonText }}
              </ion-button>
              <ion-button
                color="success"
                (click)="onClickRHS()"
                [disabled]="!secondsSelected"
              >
              {{ rhsButtonText }}
              </ion-button>
            </ion-row>
            <ion-list [inset]="true">
              <ion-item>
                <ion-label position="fixed">Rest:</ion-label>
                <ion-input
                  readonly
                  [(ngModel)]="timeSelected"
                  (click)="showTimePicker()"
                ></ion-input>
              </ion-item>
            </ion-list>
            <ion-row class="ion-align-items-center">
              <ion-col>
                Keep screen awake
              </ion-col>
              <ion-col size="auto">
                <ion-toggle [(ngModel)]="awakeService.allowAwake" (ionChange)="onToggleAwake()"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  size-md="6">
        <ion-card
          id="setsCard"
          joyrideStep="timer2"
          title="Tally your reps"
          text="Put in how many reps you are prescribed and keep track of how many you've completed."
        >
          <ion-card-content>
            <ion-list [inset]="true">
              <ion-item>
                <ion-label position="fixed">Protocol:</ion-label>
                <ion-input
                  readonly
                  [(ngModel)]="setsSelected"
                  (click)="showSetsPicker()"
                ></ion-input>
                <ion-note slot="end">sets</ion-note>
              </ion-item>
            </ion-list>
            <ion-row
              class="ion-margin-top ion-justify-content-between ion-align-items-center"
            >
              <ion-fab-button
                (click)="onRemoveSet()"
                size="small"
                color="light"
              >
                <ion-icon name="remove"></ion-icon>
              </ion-fab-button>
              <ion-text
                id="setsText"
                *ngIf="setsSelected"
              >
                {{ setsCompleted }} / {{ setsSelected }}
              </ion-text>
              <ion-fab-button
                (click)="onAddSet()"
                size="small"
                color="light"
              >
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-row>
            <ion-row
              *ngIf="setsSelected"
              class="ion-align-items-center ion-justify-content-center"
            >
              {{ setsSelected - setsCompleted }} sets remaining
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
