<ion-header>
  <ion-toolbar>
    <ion-title size="large" color="danger">Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-row style="
            display: flex;
            justify-content: center;
            ">
              <ion-text
                style="font-size: 36pt;"
                [ngClass]="{blink: !timerRunning}"
              >
                {{ timeRemaining }}
              </ion-text>
            </ion-row>
            <ion-row style="
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 5px;
            ">
              <ion-button
                color="light"
                (click)="onClickLHS()"
                [disabled]="!userInput"
              >
                {{ lhsButtonText }}
              </ion-button>
              <ion-button
                color="success"
                (click)="onClickRHS()"
                [disabled]="!userInput"
              >
              {{ rhsButtonText }}
              </ion-button>
            </ion-row>
            <ion-list lines="none">
              <ion-item>
                <ion-label position="fixed">Rest:</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="timeSelected"
                  (input)="onInputChange($event)"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label position="fixed">Protocol:</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="setsSelected"
                ></ion-input>
                <ion-label position="fixed" style="order: 2;">sets</ion-label>
              </ion-item>
            </ion-list>
            <ion-row style="
              display: flex;
              align-items: center;
            ">
              <ion-col>
                <ion-fab-button
                  (click)="onRemoveSet()"
                  size="small"
                  color="light"
                >
                  <ion-icon name="remove"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col>
                <ion-text
                style="font-size: xx-large;"
                *ngIf="setsSelected"
              >
                {{ setsCompleted }} / {{ setsSelected }}
              </ion-text>
              </ion-col>
              <ion-col>
                <ion-fab-button
                  (click)="onAddSet()"
                  size="small"
                  color="light"
                >
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-col>
            </ion-row>
            <ion-row
              *ngIf="setsSelected"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              {{ setsSelected - setsCompleted }} sets remaining
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
