/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --oxford-blue: rgb(0, 33, 71); // Oxford blue colour specification from https://www.ox.ac.uk/sites/files/oxford/media_wysiwyg/Oxford%20Blue%20LR.pdf
  .ouplc-theme {
    p {
      color: white;
    }

    ion-content, ion-card, ion-item, ion-toolbar, ion-tab-bar, ion-menu, ion-modal {
      --ion-text-color: white;
      --background: var(--oxford-blue);
    }

    ion-row {
      color: white;
    }

    ion-card {
      border: 2px solid white;
    }

    ion-toolbar {
      border-bottom: 2px solid white;
      --ion-color-dark: white;
    }

    ion-tab-bar {
      border-top: 2px solid white;
    }

    ion-modal {
      --ion-color-dark: white;
      --ion-color-dark-contrast: black;

      ion-title {
        color: white;
      }

      ::marker {
        color: white;
      }
    }
  }
}

ion-toolbar {
  padding-bottom: 5px;
}

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  height: 100%;
}

ion-label, ion-note {
  font-weight: 450;
}

ion-card {
  margin-bottom: 0;
}

.toast-class {
  font-size: large;
  transform: translateY(-50px); /* TEMPORARY custom toast position above tabbar - await https://github.com/ionic-team/ionic-framework/issues/17499 */
  text-align: center;
}

.copy-toast-class {
  text-align: center;
}

/* from https://codepen.io/liamdebeasi/pen/YzwNzao */
hr {
  margin-top: 1rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

summary {
  outline: none;
}

/* below is an inelegant way to apply styles on breakpoint but is suggested by
https://forum.ionicframework.com/t/make-ionic-cards-side-by-side-the-same-height/213887/7 */
@media (min-width: 768px) { //md breakpoint
  #requiredCard {
    height: 268px;
  }
  #eLoad {
    margin-top: 44px;
  }

  #setsCard {
    height: 255.8px;
    padding-top: 49.9px;
  }
}
