<ion-card style="height: 100%;">
  <ion-card-header>
    <ion-card-title>Your Team or Club</ion-card-title>
    <ion-card-subtitle>
      Select your powerlifting team/club for exclusive content.
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-radio-group
        [(ngModel)]="inputTeam"
        (ionChange)="authenticateInput()"
      >
        <ion-item
          *ngFor="let team of teamService.teams | keyvalue : returnZero"
        >
          <ion-label>{{ team.key }}</ion-label>
          <ion-radio slot="start" [value]="team.key"></ion-radio>
          <ion-avatar slot="end" *ngIf="team.value.light || team.value.dark">
            <picture>
              <source
                id="screenshot"
                [srcset]="team.value.dark"
                media="(prefers-color-scheme: dark)"
              >
              <img [src]="team.value.light">
            </picture>
          </ion-avatar>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card-content>
  <ion-row class="card-footer">
    <ion-col size="12" [hidden]="!teamService.teams[inputTeam].password">
      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="string"
          [(ngModel)]="inputPassword"
          (ngModelChange)="authenticateInput()"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-button
        class="ion-margin"
        [disabled]="!passwordCorrect"
        expand="block"
        (click)="onSubmitTeam()"
        [routerLink]="[helpService.currentRoute | async]"
      >
        Done
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
